.container {
	width: 100%;
	height: auto;
	background: url('../images/dust.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/*
header div {
	background-image: linear-gradient(to right, burlywood 0%, #FFFFFF 100%);
	border: solid 1px black;
	border-radius: 10px;
	text-align: center;
}*/

#theheader h1, #theheader p {
	text-align: center;
}

a h3 {
	position:relative;
	bottom:65px;
	left:0px;
	visibility:hidden;
	background:rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color:#f3f3f3;
	text-align: center;
}

.clear a {
	text-decoration: none;
	max-height: 130px;
}

/*
#clear {
	margin-bottom: 5%;
}
*/

.table tr td {
	text-align: center;
}

.alert {
	text-align: center;
}

.titleModal {
	text-align: center;
}

.clear li {
	max-height: 130px;
}

a h4 {
	position:relative;
	bottom:75px;
	left:0px;
	visibility:hidden;
	background:rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color:#f3f3f3;
	text-align: center;
}

.basket button {
	text-align: center;
	margin-top: auto;
}

img {
	width: 100%;
	height: auto;
}


.carousel-caption {
	z-index: 100;
	position: absolute;
	top: 20%;
}

.jumbotron.carousel-caption{
	background: none;
}

.carousel-indicators li {	
	background-color: #999;
	background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
	background-color: #444;
}

.carousel-inner {
	height: 400px;
}

.carousel-inner img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 400px;
}

h2, h3 {
	text-align: center;
}

.jumbotron {
	background: rgba(255, 255, 255, 0.5);
	margin-bottom: 0;
}

li {
	list-style: none;
	text-decoration: none;
}
/*
i {
	display: inline-block;
	width: 100%;
}
*/

#iconsFooter {
	text-align: center;
	margin-bottom: 2%;
}

#spanFoot {
	text-align: center;
}

.icon-background {
	color: transparent;
	background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
	border-color: #CCCCCC #CCCCCC #CCCCCC;
	border-radius: 50%;
	border: solid 1px #CCCCCC;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}

.btn.btn-default {
	color: #333333;
	background-color: #FFFFFF;
	background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
	border-color: #CCCCCC #CCCCCC #CCCCCC;
}
.btn.btn-default:hover {
	color: #333333;
	background-color: #E0E0E0;
	background-image: linear-gradient(to bottom, #E0E0E0, #E0E0E0);
	border-color: #CCCCCC #CCCCCC #CCCCCC;
}

.basket_list ul li span {
	vertical-align: middle;
	text-align: center;
}

#sidebar {
	border: solid 1px lightgray;
	border-radius: 10px;
	background-color: white;
}

#sidebar .basket {
	width: 100%;
	min-height: 190px;
}

.ng-invalid.ng-dirty {
	border-color: darkred;
}

.ng-valid.ng-dirty {
	border-color: forestgreen;
}
