.container {
	width: 100%;
	height: auto;
	background: url('../images/dust.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

header div {
	background-image: linear-gradient(to right, burlywood 0%, #FFFFFF 100%);
	border: solid 1px black;
	border-radius: 10px;
	text-align: center;
}

.basket button {
	text-align: center;
	margin-top: auto;
}

img {
	width: 100%;
}

.carousel-indicators li {	
	background-color: #999;
	background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
	background-color: #444;
}

h2 {
	text-align: center;
}

.jumbotron {
	background: rgba(255, 255, 255, 0.5);
}

li {
	list-style: none;
}

.basket_list ul li span {
	vertical-align: middle;
	text-align: center;
}