.container {
	width: 100%;
	height: auto;
	background: url('../images/dust.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/*
header div {
	background-image: linear-gradient(to right, burlywood 0%, #FFFFFF 100%);
	border: solid 1px black;
	border-radius: 10px;
	text-align: center;
}*/

#theheader h1, #theheader p {
	text-align: center;
}

a h3 {
	position:relative;
	bottom:65px;
	left:0px;
	visibility:hidden;
	background:rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color:#f3f3f3;
	text-align: center;
}

.clear a {
	text-decoration: none;
	max-height: 130px;
}

/*
#clear {
	margin-bottom: 5%;
}
*/

.table tr td {
	text-align: center;
}

.alert {
	text-align: center;
}

.titleModal {
	text-align: center;
}

.clear li {
	max-height: 130px;
}

a h4 {
	position:relative;
	bottom:75px;
	left:0px;
	visibility:hidden;
	background:rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color:#f3f3f3;
	text-align: center;
}

.basket button {
	text-align: center;
	margin-top: auto;
}

img {
	width: 100%;
	height: auto;
}

.carousel-indicators li {	
	background-color: #999;
	background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
	background-color: #444;
}

h2, h3 {
	text-align: center;
}

.jumbotron {
	background: rgba(255, 255, 255, 0.5);
}

li {
	list-style: none;
	text-decoration: none;
}

.basket_list ul li span {
	vertical-align: middle;
	text-align: center;
}

#sidebar .basket {
	width: 100%;
	min-height: 190px;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E
}

.ng-valid.ng-dirty {
	border-color: #78FA89
}